#!/bin/bash

# Make Tab autocomplete regardless of filename case
set completion-ignore-case on
# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous on
# Filtered history search
if [[ $- == *i* ]]
then
    # Flip through autocompletion matches with Shift-Tab.
    bind '"\e[Z": menu-complete'
    bind '"\e[A": history-search-backward'
    bind '"\e[B": history-search-forward'
fi

