#!/bin/bash

# Flip through autocompletion matches with Shift-Tab.
"\e[Z": menu-complete
"\e[A": history-search-backward
"\e[B": history-search-forward

set colored-stats On
set completion-prefix-display-length 3
set mark-symlinked-directories On
set show-all-if-unmodified On
set visible-stats On
set completion-ignore-case on
set show-all-if-ambiguous on
