[user]
name = Trystan Kaes
email = trystanblkaes@gmail.com

[url "git@github.com:"]
insteadOf = https://github.com/

[url "git@bitbucket.org:"]
insteadOf = https://bitbucket.org/

[url "git@gitlab.com:"]
insteadOf = https://gitlab.com/

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[pull]
rebase = false

[core]
excludesfile = ~/.dotfiles/git/.gitignore_global
autocrlf = input
editor = vim
